:root {
  --beige: #FCE6CE;
  --green: #8DC2A6;
  --red: #EE3819;
  --yellow: #EFC316;
}

body {
  background-color: #1E1E1E;
  font-style: normal;
  font-weight: 300;
  color: black;

  font-size: 20px;
  font-family: "Shift" ,"Lucida Bright", Georgia, serif;
  min-height: 100vh;
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 14px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

img {
  display: block;
  max-width: 100%;
}

h1.big-text {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4em;
  line-height: 1.2em;
}

p.big-text {
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.2em;
}

p.medium-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2em;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 4em;
  line-height: 1.2em;
  margin: 0.5em 0;
}

td.title {
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.2em;
}

p, td {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2em;
}

p.copyright {
  font-size: 0.8em;
  text-align: center;
  color: var(--beige);
  border-top: solid 1px var(--beige);
  padding: 10px 0 0 0;
  line-height: 1.2em;
}

.wrap {
  max-width: 1300px;
  padding: 0 2.5em;
  margin: 0 auto;
}

.narrow-wrap {
  max-width: 900px;
  padding: 0 3em;
  margin: 0 auto;
}

section {
  padding: 3em 0 0 0;
}

section#top {
  background-color: var(--beige);
}

section#top img {
  margin: 0 auto;
}

#logo {
  margin-top: 150px;
}

#big_table_illustration {
  margin-top: -130px;
  margin-bottom: 157px;
}

#mobile-banner {
  margin: 8em 0;
  padding: 1em;
}

section#intro {
  background-color: var(--green);
  padding: 6em 0 0 0;
}

.border {
  width: 209px;
  height: 3em;
  border-bottom: 5px solid black;
}

section#intro .decor {
  height: 170px;
  background-repeat: no-repeat;
  background-image: url("images/Group\ 42.svg");
}

section#how-it-works {
  background-color: var(--beige);
}

section .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

section .reverse {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
}

.bottom-image {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 1em;
  margin: 0 auto;
}

section#quote {
  color: var(--beige);
  /* background: url(images/Layer_1.svg) no-repeat;
  background-size: auto;
  background-position-y: top;
  background-position-x: left; */
  background-color: var(--red);
}

section#quote .quote {
  padding: 1em;
}

.beige.border {
  border-bottom: 5px solid var(--beige);
}

section#WWYM {
  background-color: var(--yellow);
}

section#WWYM .text {
  display: flex;
  align-items: center;
  padding: 20px;
}

section#WWYM table {
  border-collapse: collapse;
}

section#WWYM td {
  border-top: solid 2px black;
  padding: 20px;
}

section#form {
  background-color: var(--beige);
  padding: 100px 0;
  color: #1D1D1B;
}

section#form .decor {
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("images/Group\ 40.svg");
}

section#form .form {
  margin: 40px -20px;
}

.true-wrap {
  max-width: 1200px;
}

footer {
  background-color: var(--red);
}

footer .column {
  display: flex;
  flex-direction: column;
  margin: 3em;
  align-items: center;
}

footer .column img{
  margin-bottom: 1em;
}
